@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  padding: 3rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  text-align: center;
}

.wrapper .wrapper-text {
  font-size: 2rem;
  font-weight: 700;
}

.wrapper p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.btns {
  display: flex;
  margin: 30px 0 20px 0;
}

.btns a {
  position: relative;
  margin: 0 20px;
  display: block;
  height: 60px;
  width: 200px;
  line-height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.btns a:first-child {
  background: linear-gradient(-90deg, #f5ce62, #e85a19);
}

.btns a:last-child {
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}

.btns a > span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  pointer-events: none;
  animation: ripples 0.6s linear infinite;
  -webkit-animation: ripples 0.6s linear infinite;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}

@keyframes ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}